<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="ISO-8859-1">
  <title>CodePen - Slide Sign In/Sign Up form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form action="#" th:action="@{/select/register}" th:object="${sender}" method="post"  class="form" id="form2">
		 <h2 class="form__title">Sign up</h2>
        <input type="text" th:field="*{email}" placeholder="Email" class="input" />
        <input type="text" th:field="*{direct}" placeholder="Direct-Address" class="input" />
        <input type="text" th:field="*{institution}" placeholder="Institution" class="input" />
        <input type="text" th:field="*{name}" placeholder="Name" class="input" />
        <input type="text" th:field="*{surname}" placeholder="SurName" class="input" />
        <input type="password" th:field="*{password}" placeholder="Password" class="input" />
 
        <button class="btn" type="submit">Register</button>    
        <br></br>
    </form>
	</div>

	<!-- Sign In -->
	<div class="container__form container--signin">
		<form action="#" th:action="@{/select/login}" method="post" class="form" id="form2">
			<h2 class="form__title">Sign In</h2>
			<input type="text" th:name="institution" placeholder="Institution" class="input" />
			<input type="email" th:name="direct" placeholder="direct address" class="input" />
			<input type="password" th:name="password" placeholder="Password" class="input" />
			<a href="#" class="link">Forgot your password?</a>
			<button class="btn" type="submit">Sign In</button>
		</form>
	</div>

	<!-- Overlay -->
	<div class="container__overlay">
		<div class="overlay">
			<div class="overlay__panel overlay--left">
				<button class="btn" id="signIn">Sign In</button>
			</div>
			<div class="overlay__panel overlay--right">
				<button class="btn" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<!-- partial -->
  <script  th:src="@{/js/script.js}"></script>

</body>
</html>
